
header{
  height: 50px;
  background-color: aqua;
  font-size: 2em;
  padding: 1em;
}
.navi{
  font-size: 0.8em;
}
.navi::before{
  content: "▶";
}
h1{
  border-top:2px solid black;
  border-bottom:2px solid black ;
}